{
  "skip_disclaimer": true,
  "skip_booting": true,
  "minimum_dm_delay": 50,
  "maximum_dm_delay": 70,
  "minimum_ban_delay": 50,
  "maximum_ban_delay": 70,
  "minimum_general_delay": 50,
  "maximum_general_delay": 70,
  "captcha_api_key": "",
  "captcha_service": "manual"
}
